extends layout

block content
    div(class="blogs")
        for blog in blogs
            div(class="blogcard")
                h3= blog.title
                p.bbody= blog.body
                a(href=`/full-blog?id=${blog.id}`, class="read-full") Read more